*{
    margin: 0;
    padding: 0;
}
.dropdown-toggle::after, .dropend .dropdown-toggle::after{
    border: none;
  }

  .fontawesomeDown {
  width: 10px;
  height: auto;
  margin-left: 0.4rem;
  vertical-align: middle;
  }
  .fontawesomeRight {
  width: 7px;
  height: auto;
  margin-left: 5rem;
  vertical-align: middle;
  }
  .fontProducts {
  width: 15px;
  height: auto;
  margin-right: 2rem;
  vertical-align: middle;
  }
  
.dropend .dropdown-toggle{
    margin-left: 0.5em;
    height:30px;
    line-height: normal;
    font-size: 16px;
    
}
.nav-item .dropdown-menu .dropdown-item, .dropend .dropdown-menu .dropdown-item{
    font-size: 16px;
   
}

.dropend:hover{
    background-color:rgba(147, 155, 169, 0.264);

}
.dropend:hover > .dropdown-menu{
    display: block;
    margin-top: .125em;
    margin-left: .125em;

    
}
 .dropend:hover > .dropdown-menu{
    position: absolute;
    left: 100%;
    top: 0;
    
}

.d-flex .Signup{
    margin-right:50px;
    border-radius: 20px;
}

.d-flex .Login{
    border-radius: 20px;
}

.d-flex .Products{
margin-left: 150px;
background-color: transparent;
border:none;
border-radius:20px;
color: black;

}
.d-flex .dropdown{
    width: 250px;
   
}
.d-flex .dropdown-menu{
  
    width: 250px;
    height: 280px;
    overflow-y: auto;
    
}
.d-flex .dropdown-item{
    padding: 20px;
    border-bottom: 0.5px solid #e1e1e197;
    
}
.d-flex .Products:hover{
background-color: rgb(192, 201, 209);
border-radius: 20px;
}

/* for screen around 990px */
@media screen and (max-width:990px){

    .d-flex .Products{
    right: 13px;
    }

    .Signup{
       position: absolute;
       top: 10px;
       right: 80px;
    }

     .Login{
       position: absolute;
       top: 10px;
       right: 150px;
    }
    


/* dropdown small screen */

.dropdown-main{
    padding: 0;
    margin: 0;
    position: absolute;
    background-color: white;
    height:100vh;
    width:100vw;
   
 }

 .dropdown-main .dropdownlink{
    color: black;
    font-size:30px;
   font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
   font-weight: bolder;
   text-decoration: none;
 
 }
 

 .companyul{
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    
   

 }
 .exploreul{
    display: flex;
    flex-direction: column;
  
 }

 .productsul{
    display: flex;
    flex-direction: column;
    align-items:flex-start;
 }

 .dropdownul li{
    list-style: none;
    margin-top: 10px;
    font-size: large;
   
   
 }

.dropdownexplore{
    color: black;
    text-decoration: none;
    margin-left: 1;
    
}


/* for fachevrondown for company and products */
.smallfontdowncompany{
    margin-left: 500px;
}
/* for fachevrondown for explore cause it is inside of company */
.smallfontdownexplore{
    margin-left: 535px;
}
/* for fachevrondown for explore cause it is inside of company */
.smallfontdownproducts{
    margin-left: 510px;
}

/* popup login-signup */

.main{
    position: absolute;
    left: 3px;
    top: 58px;
    background-color: white;
    height:90vh;
    width:100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    justify-items: center;
    flex-direction: row;
    
    
  }
.pop-button{
    font-size: xx-large;
    font-weight: bold;
    border-bottom: 1px solid black;
    padding-bottom: 40px;
    border-radius:0;
}
.main .arrow2{
    padding-left: 50px;
}
 .close{
    position:absolute;
    top: 60px;
    right: 80px;
    height: 30px;
 } 
}

 /* for screen around 700  */
@media screen and (max-width:700px){

    .d-flex .Products{
    right: 13px;
    }

    .Signup{
       position: absolute;
       top: 10px;
       right: 80px;
    }

     .Login{
       position: absolute;
       top: 10px;
       right: 150px;
    }
    


/* dropdown small screen */

.dropdown-main{
    padding: 0;
    margin: 0;
    position: absolute;
    background-color: white;
    height:100vh;
    width:100vw;
   
 }

 .dropdown-main .dropdownlink{
    color: black;
    font-size:30px;
   font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
   font-weight: bolder;
   text-decoration: none;
 
 }
 

 .companyul{
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    
   

 }
 .exploreul{
    display: flex;
    flex-direction: column;
  
 }

 .productsul{
    display: flex;
    flex-direction: column;
    align-items:flex-start;
 }

 .dropdownul li{
    list-style: none;
    margin-top: 10px;
    font-size: large;
   
   
 }

.dropdownexplore{
    color: black;
    text-decoration: none;
    margin-left: 1;
    
}


/* for fachevrondown for company and products */
.smallfontdowncompany{
    margin-left: 280px;
}
/* for fachevrondown for explore cause it is inside of company */
.smallfontdownexplore{
    margin-left: 315px;
}
/* for fachevrondown for explore cause it is inside of company */
.smallfontdownproducts{
    margin-left: 290px;
}

/* popup login-signup */

.main{
    position: absolute;
    left: 3px;
    top: 58px;
    background-color: white;
    height:90vh;
    width:100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    justify-items: center;
    flex-direction: row;
    
    
  }
.pop-button{
    font-size: xx-large;
    font-weight: bold;
    border-bottom: 1px solid black;
    padding-bottom: 40px;
    border-radius:0;
}
.main .arrow2{
    padding-left: 50px;
}
 .close{
    position:absolute;
    top: 60px;
    right: 80px;
    height: 30px;
 } 

}
 /* for screen around 400 such as mobile phones */
@media screen and (max-width:440px){

    .d-flex .Products{
    right: 13px;
    }

    .Signup{
       position: absolute;
       top: 10px;
       right: 80px;
    }

     .Login{
       position: absolute;
       top: 10px;
       right: 150px;
    }
    


/* dropdown small screen */

.dropdown-main{
    padding: 0;
    margin: 0;
    position: absolute;
    background-color: white;
    height:100vh;
    width:100vw;
   
 }

 .dropdown-main .dropdownlink{
    color: black;
    font-size:30px;
   font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
   font-weight: bolder;
   text-decoration: none;
 
 }
 

 .companyul{
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    
   

 }
 .exploreul{
    display: flex;
    flex-direction: column;
  
 }

 .productsul{
    display: flex;
    flex-direction: column;
    align-items:flex-start;
 }

 .dropdownul li{
    list-style: none;
    margin-top: 10px;
    font-size: large;
   
   
 }

.dropdownexplore{
    color: black;
    text-decoration: none;
    margin-left: 1;
    
}


/* for fachevrondown for company and products */
.smallfontdowncompany{
    margin-left: 180px;
}
/* for fachevrondown for explore cause it is inside of company */
.smallfontdownexplore{
    margin-left: 215px;
}
/* for fachevrondown for explore cause it is inside of company */
.smallfontdownproducts{
    margin-left: 188px;
}

/* popup login-signup */

.main{
    position: absolute;
    left: 3px;
    top: 58px;
    background-color: white;
    height:90vh;
    width:100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    justify-items: center;
    flex-direction: row;
    
    
  }
.pop-button{
    font-size: xx-large;
    font-weight: bold;
    border-bottom: 1px solid black;
    padding-bottom: 40px;
    border-radius:0;
}
.main .arrow2{
    padding-left: 50px;
}
 .close{
    position:absolute;
    top: 60px;
    right: 80px;
    height: 30px;
 } 

}